<!DOCTYPE html>
<html>
<%- include partial/header %>
<body>
  <%-include partial/menu%>
  <div class="container">
      <h2>Barangs Data</h2>
      <h3><a href='/barangs/add'>Add Barang</a><h3>
      <table class="table" cellpading="0" cellspacing="0">
        <tr>
          <th>ID</th>
          <th>NAMA BARANG</th>
          <th>SATUAN</th>
          <th>HARGA BARANG</th>
          <th>STOCK</th>
          <th>Option</th>
        </tr>

        <% barangs.forEach (data =>{%>
          <tr>
            <td>&nbsp<%=data.id %></td>
            <td>&nbsp<%=data.nama_barang%></td>
            <td>&nbsp<%=data.satuan%></td>
            <td>&nbsp<%=data.harga%></td>
            <td>&nbsp<%=data.stock%></td>
            <td><a href="/barangs/edit/<%= data.id %>">Edit</a>|<a href="/barangs/delete/<%= data.id %>">Delete</a></td>
          </tr>
          <% }) %>
      </table>
    </div>
</body>
</html>
