<!DOCTYPE html>
<html>
<%- include partial/header %>
<body>
  <%- include partial/menu %>
  <div class="container">
    <div class="top">
      <h1>Warung Online</h1>
      <img class="icon" src="/static/images/warung-online.jpg">
    </div>
    <% barang.forEach(i=>{ %>
    <div class="barang">
      <p><%=i.nama_barang%></p>
      <img src="/static/images/lifeboy.jpg">
      <a href="/item/<%=i.id%>">
        <div class="panel">
          <p>Harga : <%=i.harga%></p>
          <p>Stok : <%=i.stok%></p>
        </div>
      </a>
    </div>
    <% }) %>
    <div class="c"></div>
  </div>
</body>
</html>
