<html>
  <%- include partial/header %>
  <body>
    <%- include partial/menu %>
    <div class="container">
      <h2>User Data</h2>
      <h3><a href='/users/add'>Add User</a><h3>
      <table class="table" cellpading="0" cellspacing="0">
        <th>No</th>
        <th>Username</th>
        <th>Password</th>
        <th>Deposito</th>
        <th colspan="2">Actions</th>
        <%
        let no=1;
        user.forEach(i=>{
        %>
        <tr>
          <td width="20"><%=no%></td>
          <td><%=i.user_name%></td>
          <td><%=i.user_pass%></td>
          <td><%=i.deposito%></td>
          <td width="30"><a class="btn" href="/users/edit/<%=i.id%>"><i class="fa fa-edit"></i></a></td>
          <td width="30"><a class="btn" href="/users/delete/<%=i.id%>"><i class="fa fa-trash"></i></a></td>
        </tr>
        <% no++; })%>
      </div>
  </body>
</html>
